* {
  box-sizing: border-box;
}

h1{
  color: blue;
}

.products-box{
border: 1px solid blueviolet;
}

.products-box-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  } 
  
  .products-box-list>li{
border: 1px solid grey;
padding: 0 2rem;
cursor: pointer;
  }
  .products-box-list>li:hover{
    background-color: aqua;
  }
