* {
  box-sizing: border-box;
}

h1 {
  color: blue;
}

.products-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  border: 1px solid blueviolet;
  padding: 2rem;
}

.products-list > li {
  border: 1px solid grey;
  padding: 0 2rem;
  cursor: pointer;
}
.products-list > li:hover {
  background-color: aqua;
}

.products-list-item-image > img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  margin-top: 1rem;
}
